$s: #ff7f7f;
$d: #add8e6;
$p: #FFFFE0;
$f: #90ee90;
$dark: 10;

.element {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    border-color: #000000;
}

.symbol {
    font-size: .8em;
}
.name {
    font-size: .6em;
}

.block-s {
    background-color: $s;
}
.block-d {
    background-color: $d;
}
.block-p {
    background-color: $p;
}
.block-f {
    background-color: $f;
}

.block-s.highlighted {
    background-color: darken($color: $s, $amount: $dark);
}
.block-d.highlighted {
    background-color: darken($color: $d, $amount: $dark);
}
.block-p.highlighted {
    background-color: darken($color: $p, $amount: $dark);
}
.block-f.highlighted {
    background-color: darken($color: $f, $amount: $dark);
}
