<div class="row">
    <div class="col-12">
        <table class="table-sm">
            <tr *ngFor="let row of table">
                <td *ngFor="let element of row" (click)="heighlight(element ? element.block : '')">
                    <div *ngIf="element"
                        [class]="'element block-'+element.block + (element.block==highlighted ? ' highlighted' : '')">
                        <span class="symbol">{{element.symbol}} {{element.atomicNumber}}</span><br />
                        <span class="name">{{element.name}}</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="col-4 mt-5 ml-auto mr-auto">
            <button class="btn btn-secondary btn-lg btn-block" (click)="flip()">Flip Table</button>
        </div>
    </div>
</div>
